/* the header  */
.weatherDash {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background-color: rgba(88, 78, 78, 0.712);
  color: rgb(240, 235, 235);
}
#forecast {
  /* float: right; */
  height: 400px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
/* this is for the cards to have a bu tint to them */
#card {
  background-color: rgb(83, 130, 231);
}
/* this gives the header a greyish tint */
.row {
  background-color: rgba(114, 145, 185, 0.568);
}